.menuContainer {
  @apply absolute flex  px-5 py-1  justify-between left-[40%]  md:w-1/4 md:left-1/2 mt-4 rounded-lg;

  border: 1px solid theme("colors.border1");
  transform: translateX(-50%);
  box-shadow: theme("colors.shadow1");
  background-color: theme("colors.background");

  .iconWrapper {
    @apply flex justify-center items-center h-10 w-10 cursor-pointer rounded-md;

    &:hover,
    &.active {
      background-color: theme("colors.text2");
    }

    .icon {
      color: theme("colors.text1");
      font-size: 20px;
    }
  }
}
